// Mixins
@mixin app-styles {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

@mixin header-styles {
  flex: 0;
}

@mixin sidebar-styles {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

@mixin body-styles {
  overflow-y: auto;
  flex: 1;
}

// SMALL
@media screen and (max-width: 768px) {
  .app {
    @include app-styles;
    flex-direction: column;

    .header {
      @include header-styles;

      .topbar {
        display: block;
      }

      .sidebar {
        display: none;
      }
    }

    .body {
      @include body-styles;
    }
  }
}

// LARGE
@media screen and (min-width: 768px) {
  .app {
    @include app-styles;
    flex-direction: row;

    .header {
      @include header-styles;

      .topbar {
        display: none;
      }

      .sidebar {
        @include sidebar-styles;
      }
    }

    .body {
      @include body-styles;
    }
  }
}
