$border-size: 1px;
$border-style: solid;
$border-color: #555;

// MIXINS
@mixin mixin-border {
  border: $border-size $border-style $border-color;
}

@mixin mixin-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

@mixin mixin-header {
  @include mixin-border;
  flex: 0;
}

@mixin mixin-body {
  @include mixin-border;
  overflow-y: auto;
  flex: 1;
}

// SMALL
@media screen and (max-width: 768px) {
  .app {
    @include mixin-app;
    flex-direction: column;

    .header {
      @include mixin-header;

      .topbar {
        display: block;
      }

      .sidebar {
        display: none;
      }
    }

    .body {
      @include mixin-body;
    }
  }
}

// LARGE
@media screen and (min-width: 768px) {
  .app {
    @include mixin-app;
    flex-direction: row;

    .header {
      @include mixin-header;

      .topbar {
        display: none;
      }

      .sidebar {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
      }
    }

    .body {
      @include mixin-body;
    }
  }
}
