@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$backgroud: #222;
$color: #555;

$primary: $black;
$secondary: $yellow;
$dark: $cyan-800;
$light: $green-400;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
