$scrollbar-color: shift-color($dark, 0%);
$scrollbar-size: 0.4em;
$scrollbar-thin: thin;

$width: 100vw;
$height: 100vh;
$top-height: 64px;
$left-width: 320px;

$sidebar-header-height: 50px;

// ALL

body {
  overflow: hidden;
  color: $color !important;
  background-color: $background !important;
}

// SCROLLBAR'S

div::-webkit-scrollbar {
  width: $scrollbar-size;
  /* Track width */
}

div::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;
  /* Scroll bar handle color */
}

div {
  scrollbar-width: $scrollbar-thin;
}

div::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;
}

// LAYOUT'S

.layout {
  overflow: hidden;
  height: $height;

  .large {
    @extend .d-none;
    @extend .d-lg-block;
    height: $height;

    .large-container {
      display: flex;
      flex-direction: row;
      height: $height;

      .left {
        flex: 0;

        .left-container {
          height: $height;
          width: $left-width;
          overflow-y: auto;
          background-color: $primary !important;
        }
      }

      .body {
        flex: 1;

        .body-container {
          height: $height;
          overflow-y: auto;
        }
      }
    }
  }

  .medium {
    @extend .d-lg-none;
    height: $height;

    .medium-container {
      display: flex;
      flex-direction: column;
      height: $height;

      .top {
        flex: 0;

        .top-container {
          height: $top-height;
          background-color: $primary !important;
        }
      }

      .body {
        flex: 1;

        .body-container {
          height: calc($height - $top-height);
          overflow-y: auto;
        }
      }
    }
  }
}

// SIDEBAR'S

.sidebar {
  @extend .container-fluid;
  height: $height;
  color: $color;
  background-color: $primary;
  display: flex;
  flex-direction: column;

  .header {
    @extend .mt-2;
    flex: 0;

    .header-container {
      height: $sidebar-header-height;
      display: flex;
      flex-direction: row;

      .title {
        @extend .h3;
        @extend .text-secondary;
        flex: 1;
      }

      .close {
        text-align: end;
        flex: 0;

        .close-btn {
          @extend .btn;
          @extend .btn-link;
          @extend .text-secondary;
          @extend .float-end;
        }
      }
    }
  }

  .body {
    flex: 1;
    height: $height;
    overflow-y: auto;

    .photo {
      @extend .img-fluid;
      @extend .img-thumbnail;
      @extend .w-75;
    }

    .summary {
      @extend .mt-1;
      @extend .h6;
    }

    .fast-contacts {
      @extend .mt-3;
      display: flex;
      flex-direction: row;

      .fast-contact-item {
        @extend .me-4;
        flex: 0;

        .fast-contact-btn {
          @extend .btn;
          @extend .btn-secondary;
        }
      }
    }
  }
}
