$width: 100vw;
$height: 100vh;

$top-height: 60px;
$left-width: 320px;

body {
  overflow: hidden;
  color: $color !important;
  background-color: $background !important;
}

.layout {
  overflow: hidden;
  height: $height;

  .large {
    @extend .d-none;
    @extend .d-lg-block;
    height: $height;

    .large-container {
      display: flex;
      flex-direction: row;
      height: $height;

      .left {
        flex: 0;

        .left-container {
          height: $height;
          width: $left-width;
          overflow-y: auto;
          background-color: $primary !important;
        }
      }

      .body {
        flex: 1;

        .body-container {
          height: $height;
          overflow-y: auto;
        }
      }
    }
  }

  .medium {
    @extend .d-lg-none;
    height: $height;

    .medium-container {
      display: flex;
      flex-direction: column;
      height: $height;

      .top {
        flex: 0;

        .top-container {
          height: $top-height;
          background-color: $primary !important;
        }
      }

      .body {
        flex: 1;

        .body-container {
          height: calc($height - $top-height);
          overflow-y: auto;
        }
      }
    }
  }
}
