$width: 100vw;
$height: 100vh;

$head-height: 35px;
$sidebar-width: 250px;

body {
  color: $color !important;
  background-color: $backgroud !important;
}

.layout {
  height: $height;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .head {
    flex: 0;

    .head-container {
      height: $head-height;
      color: $color !important;
      background-color: $primary !important;
    }
  }

  .body {
    flex: 1;

    .body-container {
      height: calc($height - $head-height);
      display: flex;
      flex-direction: row;

      .sidebar {
        flex: 0;

        .sidebar-container {
          width: $sidebar-width;
          height: calc($height - $head-height);
          color: $color !important;
          background-color: $primary !important;
          overflow-y: auto;
        }
      }

      .content {
        flex: 1;
      }
    }
  }
}
